@using FreshBoard.Views.Problem
@model List<GroundModel>
@{
  ViewBag.Title = "解答广场";
}

<h1 class="hi heading">解答大赏</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>提交 Id</th>
      <th>用户</th>
      <th>名称</th>
      <th>难度</th>
      <th>答案</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td data-label="Id">@item.Id</td>
        <td data-label="UserName"><a asp-action="User" asp-controller="Admin" asp-route-id="@item.UserId">@item.UserName</a></td>
        <td data-label="ProblemName"><a asp-action="Preview" asp-route-id="@item.ProblemId">@item.ProblemName</a></td>
        <td data-label="Level">@item.Level</td>
        <td data-label="Action">@item.Answer</td>
      </tr>
    }
  </tbody>
</table>

<a asp-action="Ground" asp-route-page="@(ViewBag.CurrentPage - 1)">
  <div class="ui button">上一页</div>
</a>
<span>@ViewBag.CurrentPage</span>
<a asp-action="Ground" asp-route-page="@(ViewBag.CurrentPage + 1)">
  <div class="ui button">下一页</div>
</a>
