@using FreshBoard.Views.Puzzle
@model FreshBoard.Views.Puzzle.ProblemModel
@{
    ViewBag.Title = "题目预览";
}

@if (Model.ShowContent)
{
    <h1>Level @Model.Level @Model.Title</h1>
}

@if (Model.MessageType != MessageType.None)
{
    var (icon, type, title) = Model.MessageType switch
    {
        MessageType.Error => ("exclamation triangle", "error", "错误"),
        MessageType.Success => ("thumbs up", "success", "恭喜"),
        MessageType.Warning => ("info circle", "yellow", "提示"),
        _ => ("", "", "")
    };

    <div class="ui @type icon message">
        <i class="@icon icon"></i>
        <div class="content">
            <div class="header">@title</div>
            <p>@Model.Message</p>
        </div>
    </div>
}
@if (Model.ShowContent)
{
    @Html.Raw(Model.Content)

    <hr />

    <form method="post" class="ui form">
        <input type="hidden" asp-for="Id" />
        <div class="field">
            <label>答案</label>
            <textarea asp-for="Answer"
                   placeholder="输入该题目的答案"></textarea>
        </div>
        <button class="ui button" id="submit" type="submit">提交</button>
    </form>
}

@section Scripts
{
    @if (Model.ShowContent)
    {
        <script type="text/javascript">
        @Html.Raw(Model.Script)
        </script>
    }
}
