@model FreshBoard.Views.Admin.UsersModel
@{
  ViewBag.Title = "用户管理";
}

<form class="ui form" id="form">
  <table class="ui compact celled table">
    <thead>
      <tr>
        <th></th>
        <th>邮箱</th>
        <th>手机号</th>
        <th>个人信息</th>
        <th>申请阶段</th>
        <th>一面记录</th>
        <th>二面记录</th>
        <th>解密进度</th>
        <th>权限</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var user in Model.Users)
      {
      <tr>
        <td class="collapsing">
          <div class="ui fitted checkbox">
            <input type="checkbox" name="ids[]" value="@user.Id"> <label></label>
          </div>
        </td>
        <!-- <td>@user.Name</td> -->
        <td><a asp-action="User" asp-route-id="@user.Id">@user.Email</a></td>
        <td>@user.Phone</td>
        <td>@(user.PersonDataInvalid ? "无效" : "有效")</td>
        <td>@user.Period</td>
        <td>@(user.FirstRecord ? "有" : "无")</td>
        <td>@(user.SecondRecord ? "有" : "无")</td>
        <td>@user.PuzzleProgress</td>
        <td>@user.HasPrivilege</td>
      </tr>
      }
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="8">
          <div class="ui small button" id="button-grant-admin">
            切换管理员权限
          </div>
        </th>
      </tr>
      <tr>
        <th></th>
        <th colspan="8">
          <div class="three fields">
            <div class="inline field">
              <label>申请阶段</label>
              <select
                class="ui dropdown"
                name="period"
                asp-items="Model.PeriodSelections">
              </select>
            </div>
            <div class="inline field">
              <label>总面试结果</label>
              <select
                class="ui dropdown"
                name="status"
                asp-items="Model.ApplicationStates">
              </select>
            </div>
            <div class="inline field">
              <div class="ui checkbox">
                <input type="checkbox" class="hidden" name="sendNotification" value="true">
                <label>发送通知</label>
              </div>
              <div class="ui green button" id="button-update-state">更新状态</div>
            </div>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</form>

@*
<!-- 修改申请阶段 -->
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    验证手机号码
  </div>
  <div class="content">
    <form class="ui form" id="submit-code-form">
      <div class="field">
        <label>验证码</label>
        <input 
          type="text"
          name="token"
          placeholder="123456">
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button" id="submit-code">
      提交
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
*@

@section Scripts
{
  <script lang="js">
    $(document).ready(function () {
      $('.ui.checkbox').checkbox();
      $('select.dropdown').dropdown();
    });
  </script>
    <script lang="js">
    $(document).ready(function () {
      $('#button-grant-admin').click(function () {
        axios.post('/Admin/BatchToggleAdmin', new FormData($('#form')[0]))
          .then(function (res) {
            if(res && res.data && res.data.succeeded)
              document.location.reload();
            else
              alert(res && res.data && res.data.message);
          })
          .catch(alert);
      });
      $('#button-update-state').click(function () {
        axios.post('/Admin/BatchUpdateState', new FormData($('#form')[0]))
          .then(function (res) {
            if(res && res.data && res.data.succeeded)
              document.location.reload();
            else
              alert(res && res.data && res.data.message);
          })
          .catch(alert);
      });
    });
  </script>
}