@using FreshBoard.Data.Identity
@using Microsoft.AspNetCore.Identity
@model FreshBoard.Views.User.IndexModel
@inject SignInManager<FreshBoardUser> SignInManager
@inject UserManager<FreshBoardUser> UserManager

@{
    ViewBag.Title = "个人中心";
}

<h1 class="hi heading">@User.Identity.Name</h1>
<h2 class="ui heading">账号信息</h2>
<div class="ui mini modal">
  <i class="close icon"></i>
  <div class="header">
    验证手机号码
  </div>
  <div class="content">
    <form class="ui form" id="submit-code-form">
      <div class="field">
        <label>验证码</label>
        <input 
          type="text"
          name="token"
          placeholder="123456">
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      取消
    </div>
    <div class="ui positive right labeled icon button" id="submit-code">
      提交
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<form class="ui form" id="modify-form">
  <div class="field">
      <label>邮箱</label>
      <input 
          type="text"
          name="email" 
          id="email" 
          placeholder="user@example.com" 
          value="@((await UserManager.GetUserAsync(User))?.Email)">
      @if(!(await UserManager.GetUserAsync(User)).EmailConfirmed)
      {
      <div class="ui pointing red basic label" id="verify-message">
        邮箱未验证
      </div>
      <div class="ui tiny green button" id="verify-email">验证邮箱</div>
      }
  </div>
  <div class="field">
      <label>手机号</label>
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder="123-1234-5678"
        value="@((await UserManager.GetUserAsync(User))?.PhoneNumber)">
      @if(!(await UserManager.GetUserAsync(User)).PhoneNumberConfirmed)
      {
      <div class="ui pointing red basic label" id="verify-phone-message">
        手机号码未验证
      </div>
      <div class="ui tiny green button" id="verify-phone">验证手机号码</div>
      }
  </div>
  <div class="ui tiny orange button" id="modify">修改信息</div>
</form>
<h2 class="ui heading">个人信息</h2>
<div class="ui hidden info icon message">
  <i class="exclamation triangle icon"></i>
  <div class="content">
    <div class="header" id="message-info">请填写全部个人信息，否则面试申请无效。</div>
  </div>
</div>
<form class="ui form" id="data">
@if (Model.PersonalData != null)
{
  foreach (var data in Model.PersonalData)
  {
    <div class="field">
      <label>@data.Title</label>
      <input type="text" name="data[@data.DataTypeId]" placeholder="@data.Title" value="@data.Value">
      @if (!String.IsNullOrEmpty(data.Description))
      {
         <div class="ui pointing label">
         @data.Description
         </div>
      }
    </div>
  }
}
  <div class="ui hidden success icon message">
    <i class="save icon"></i>
    <div class="content">
    <div class="header" id="message-success"></div>
    <p id="message-content"></p>
    </div>
  </div>
  <div class="ui hidden error icon message">
    <i class="exclamation triangle icon"></i>
    <div class="content">
    <div class="header" id="message-error"></div>
    <p id="message-content"></p>
    </div>
  </div>
  <div class="ui green button" id="data-submit">保存</div>
</form>

@section Scripts
{
    <script lang="js">
    function checkDataFilled() {
      if($("#data input").filter(function() {
          return !this.value;
      }).length > 0) {
        $(".info.message")
          .removeClass("hidden");
      } else {
        $(".info.message")
          .addClass("hidden");
      }
    }
    $(document).ready(function () {
      checkDataFilled();
      $('#verify-email').click(function () {
        $('#verify-email').addClass('loading');
        axios.post('/User/SendRegisterEmail')
          .then(function (res) {
            $('#verify-message')
              .removeClass('red')
              .addClass('green')
              .html('验证邮件已发送');
          })
          .catch(function (err) {
            $('#verify-message')
              .removeClass('red')
              .addClass('orange')
              .html('验证邮件发送失败');
          })
          .finally(function () {
            $('#verify-email').removeClass('loading')
          });
      });
      $('#verify-phone').click(function () {
        $('#verify-phone').addClass('loading');
        axios.post('/User/SendSMS')
          .then(function (res) {
            if(!(res && res.data && res.data.succeeded)){
              $('#verify-phone-message')
                .removeClass('red')
                .addClass('orange')
                .html(res && res.data && res.data.message);
              return;
            }
            $('.modal').modal('show');
          })
          .catch(function (err) {
            $('#verify-phone-message')
              .removeClass('red')
              .addClass('orange')
              .html(err && ((err.data && err.data.message) || err.message));
          })
          .finally(function () {
            $('#verify-phone').removeClass('loading')
          });
      });
      $('.modal').modal({ onApprove: function () {
        $('#submit-code').addClass('loading');
        axios.post('/User/ConfirmPhone', new FormData($('#submit-code-form')[0]))
          .then(function (res) {
            if(!(res && res.data && res.data.succeeded)){
              $('#verify-phone-message')
                .removeClass('red')
                .addClass('orange')
                .html('验证失败');
            } else {
              $('#verify-phone-message')
                .removeClass('red')
                .addClass('green')
                .html("验证成功");
              $('#verify-phone').addClass('hidden');
            }
          })
          .catch(function (err) {
            $('#verify-phone-message')
              .removeClass('red')
              .addClass('orange')
              .html(err && ((err.data && err.data.message) || err.message));
          })
          .finally(function () {
            $('.modal').modal('hide');
            $('#submit-code').removeClass('loading')
          });
        return false;
      }});
      $('#modify').click(function () {
        $('#modify').addClass('loading');
        axios.post('/User/UpdateCredential', new FormData($('#modify-form')[0]))
          .finally(function () {
            $('#modify').removeClass('loading');
            document.location.reload();
          });
      });
      $('#data-submit').click(function () {
        checkDataFilled();
        $('#data').addClass('loading disabled');
        $('#data').removeClass('success error');
        axios.post('/User/Update', new FormData($('#data')[0]))
          .then(function (res){
            if(res.data.succeeded) {
              $('#data').addClass('success');
              $('#message-success')
                .html('修改成功');
            } else {
              $('#data').addClass('error');
              $('#message-error')
                .html(res.data.message);
            }
            $('#data').removeClass('loading disabled');
          })
          .catch(function (err){
            $('#data').addClass('error');
              $('#message-error')
                .html(err && err.message);
            $('#data').removeClass('loading disabled');
          });
      });
    });
    </script>
}